@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

}

.header {
        width: 100%;
        height: 11%;
        padding: 5px;
        background-color: white;
        display: flex;
        position: fixed;
        justify-content: center;
        box-shadow: 0 -10px 20px black;
}

.header img {
        width: auto;
        height: auto;
}

.overlay {
        width: 100%;
        height: 100%;
        position: absolute;
}

.overlay img {
        width: 100%;
        height: 100%;
        filter: blur(1px) brightness(75%);
        object-fit: cover;
        -webkit-animation: fadein 1.5s;
}

#home {
        background: url('../images/home-bg.jpg') no-repeat center center;
        background-size: cover;
        vertical-align: middle;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 100vh;
        position: relative;
        text-align: center;
        font-weight: bold;
}

.home-info p {
        font-weight: 900px;
        color: white;
        padding-bottom: 40px;
        -webkit-animation: fadein 2s;
}

.home-info .portfolio-btn {
        color: white;
        padding: 14px;
        border: 2px solid white;
        border-radius: 15px;
        -webkit-animation: fadein 2.5s;
}

@media (min-width: 768px) {
        .header {
                width: 100%;
                height: 8%;
                padding: 5px;
                background-color: white;
                display: flex;
                position: fixed;
                justify-content: center;
                box-shadow: 0 -10px 20px black;
        }
        
        .home-info p {
                font-size: 50px;
                font-weight: 900px;
                color: white;
                padding-bottom: 40px;
        }
        
        .home-info .portfolio-btn {
                font-size: 50px;;
                color: white;
                padding: 14px;
                border: 2px solid white;
                border-radius: 15px;
                border-width: 5px;
        }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
} 

@-webkit-keyframes fadein {
        from {
                opacity: 0;
        }

        to {
                opacity: 1;
        }
}